<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <h1>MediCol</h1>
            <nav class="navbar">
            </nav>
        </div>
    </header>
    
    <div class="content">
        <div class="button-container">
            <a href="/medicos" class="button">1. Médicos</a>
            <a href="/pacientes" class="button">2. Pacientes</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button">3. Outros</a>
        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; 2025 Gestão de Médicos. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
