<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="content">
        <div class="button-container">
            <h1>Página Inicial</h1>
            <a href="/medicos" class="button">1. Médicos</a>
            <a href="/pacientes" class="button">2. Pacientes</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button">3. Outros</a>
        </div>
    </div>
</body>
</html>
