<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Médicos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <h1>Listar Médicos</h1>
            <nav class="navbar">
            </nav>
        </div>
    </header>
    <a href="/medicos" class="back-button">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div class="content">
        <button id="listarMedicos" class="button">
            <i class="fas fa-sync-alt"></i>
        </button>

        <div id="medicosList" class="json-response"></div>

        <div id="pagination" class="pagination">
            <button id="prevPage" class="button" disabled>Anterior</button>
            <button id="nextPage" class="button" disabled>Próxima</button>
        </div>
    </div>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <p id="confirmMessage">Tem certeza que deseja excluir este médico?</p>
            <button id="confirmDelete" class="button confirm-button">Confirmar</button>
            <button id="cancelDelete" class="button cancel-button">Cancelar</button>
        </div>
    </div>

    <div id="notification" class="alert"></div>
    <footer class="footer">
        <p>&copy; 2025 Gestão de Médicos. Todos os direitos reservados.</p>
    </footer>
    <script>
        let currentPage = 0;
        const pageSize = 3;
        let medicoIdToDelete = null;

        function fetchMedicos(page) {
            const url = `http://localhost:8080/medico/buscar?page=${page}&size=${pageSize}`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const medicosList = document.getElementById('medicosList');
                    const pagination = document.getElementById('pagination');
                    medicosList.innerHTML = '';

                    data.content.forEach(medico => {
                        const medicoBox = document.createElement('div');
                        medicoBox.classList.add('medico-box');
                        medicoBox.style.position = 'relative';

                        medicoBox.innerHTML = `
                            <p><strong>Nome:</strong> ${medico.nome}</p>
                            <p><strong>Email:</strong> ${medico.email}</p>
                            <p><strong>CRM:</strong> ${medico.crm}</p>
                            <p><strong>Especialidade:</strong> ${medico.especialidade}</p>
                            <button class="update-button" data-id="${medico.id}">Atualizar</button>
                            <button class="delete-button" data-id="${medico.id}">Deletar</button>
                        `;

                        medicosList.appendChild(medicoBox);

                        const updateButton = medicoBox.querySelector('.update-button');
                        updateButton.addEventListener('click', function () {
                            const medicoId = this.getAttribute('data-id');
                            window.location.href = `http://localhost:8080/updatemedicos?id=${medicoId}`;
                        });

                        const deleteButton = medicoBox.querySelector('.delete-button');
                        deleteButton.addEventListener('click', function () {
                            medicoIdToDelete = this.getAttribute('data-id');
                            document.getElementById('confirmMessage').textContent = `Tem certeza que deseja excluir o médico com ID ${medicoIdToDelete}?`;
                            document.getElementById('confirmModal').style.display = 'flex';
                        });
                    });

                    updatePagination(data);
                })
                .catch(error => console.error('Erro ao buscar médicos:', error));
        }

        function updatePagination(data) {
            const prevButton = document.getElementById('prevPage');
            const nextButton = document.getElementById('nextPage');

            prevButton.disabled = currentPage === 0;
            nextButton.disabled = currentPage === data.totalPages - 1;
        }

        document.getElementById('confirmDelete').addEventListener('click', function () {
            fetch(`http://localhost:8080/medico/Delete/${medicoIdToDelete}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        showNotification('Médico deletado com sucesso!', 'success');
                        fetchMedicos(currentPage);
                        closeModal();
                    } else {
                        showNotification('Erro ao deletar o médico.', 'error');
                    }
                })
                .catch(error => console.error('Erro ao tentar deletar o médico:', error));
        });

        document.getElementById('closeModal').addEventListener('click', closeModal);
        document.getElementById('cancelDelete').addEventListener('click', closeModal);

        function closeModal() {
            document.getElementById('confirmModal').style.display = 'none';
        }

        function showNotification(message, type) {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            notification.className = `alert alert-${type}`;
            notification.classList.add('show');
            setTimeout(() => {
                notification.classList.remove('show');
            }, 3000);
        }

        document.getElementById('listarMedicos').addEventListener('click', function () {
            fetchMedicos(currentPage);
        });

        document.getElementById('prevPage').addEventListener('click', function () {
            if (currentPage > 0) {
                currentPage--;
                fetchMedicos(currentPage);
            }
        });

        document.getElementById('nextPage').addEventListener('click', function () {
            currentPage++;
            fetchMedicos(currentPage);
        });

        fetchMedicos(currentPage);
    </script>
</body>

</html>