<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Médicos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="content">
        <div class="button-container">
            <h1>Página Médicos</h1>
            <a href="/index" class="back-button">Voltar para a Página Inicial</a>
            <a href="/cadmedicos" class="button">Cadastro</a>
            <a href="/listamedicos" class="button">Listar</a>
        </div>
    </div>
</body>
</html>
